<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/user-cart.js"></script>
</head>

<body>
    <h1>Cart</h1>
    <ul id="cart">
      <% cartItems.forEach(item => { %>
        <li>
            <span><%= item.name %> - $<%= item.cost%> <img src='<%= item.photo_url%>'> X <%= item.quantity %></span>
            <button class="deleteCart" data-id="<%= item.item_id %>" data-cartId="<%= item.cart_id %>">Remove</button>
        </li>
    <% }) %>
    </ul>

    <form id="orderForm">
        <input type="number" id="customerAddress" placeholder="Your phone number" required>
        <button type="submit">Place Order</button>
    </form>
</body>

</html>
