<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/menu.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <!--External Font Families-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <nav>
    <div class="nav-left">
      <img src="https://mystickermania.com/cdn/stickers/anime/howls-castle-calcifer-512x512.png" alt="Calcifer Logo">
    </div>
    <div class="nav-mid">
      <h1>Calcifer's Hearth</h1>
    </div>
    <div class="nav-right">
      <p>Home</p>
      <p>Contact Us</p>
      <p>Menu</p>
      <p>Login</p>
      <a href="/cart" class="btn-cart">
        <i class="fa-solid fa-cart-shopping" style="color: #7f591c"></i>
      </a>
    </div>
  </nav>

    <div class="menu-box">
      <div class="menu-title">
        <h1>Our Menu</h1>
      </div>
      <ul class="menu" id="foodMenu">
        <% menuItems.forEach(item=> { %>
          <li class="menu-item">
            <span class="item-image"><img src='<%= item.photo_url%>'></span>
            <span class="item-name-description">
              <p class="item-name">
                <%= item.name %>
              </p>
              <p class="item-description">
                <%= item.description %>
              </p>
            </span>
            <span class="item-cost">$<%= item.cost%>
                <%= item.rating%></span>
            <button class="add-button" roll="button" data-id="<%= item.id %>" data-name="<%= item.name %>"
              data-price="<%= item.price %>">Add to Cart</button>
          </li>
          <% }) %>
      </ul>
    </div>

  <footer>
    <div class="footer-left">
      <h3>Find us here!</h3>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="footer-mid">
      <p>123 Howel's Castle</p>
      <p>Toronto, Ontario LOL OLO</p>
    </div>
  </footer>

</body>

</html>