<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Food Menu</h1>
    <ul id="foodMenu">
        <% menuItems.forEach(item => { %>
            <li>
                <span><%= item.name %> - $<%= item.cost%> <img src='<%= item.photo_url%>'> </span>
                <button class="add-to-cart" data-id="<%= item.id %>" data-name="<%= item.name %>" data-price="<%= item.price %>">Add to Cart</button>
            </li>
        <% }) %>
    </ul>

    <h2>Cart</h2>
    <ul id="cart"></ul>

    <form id="orderForm">
        <input type="number" id="customerAddress" placeholder="Your phone number" required>
        <button type="submit">Place Order</button>
    </form>
</body>

</html>
